<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fd_dies</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>fd_dies01.png</string>
			<string>fd_dies02.png</string>
			<string>fd_dies03.png</string>
			<string>fd_dies04.png</string>
			<string>fd_dies05.png</string>
			<string>fd_dies06.png</string>
		</array>
	</dict>
	<key>fd_attack</key>
	<dict>
		<key>delay</key>
		<real>0.15</real>
		<key>frames</key>
		<array>
			<string>fd_attack01.png</string>
			<string>fd_attack02.png</string>
			<string>fd_attack03.png</string>
			<string>fd_attack04.png</string>
			<string>fd_attack05.png</string>
			<string>fd_attack06.png</string>
			<string>fd_attack07.png</string>
		</array>
	</dict>
	<key>fd_land</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>fd_land01.png</string>
			<string>fd_land02.png</string>
			<string>fd_land03.png</string>
			<string>fd_land04.png</string>
			<string>fd_land05.png</string>
			<string>fd_land06.png</string>
			<string>fd_land07.png</string>
		</array>
	</dict>
	<key>fd_fly</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>fd_fly01.png</string>
			<string>fd_fly02.png</string>
		</array>
	</dict>
	<key>fd_depart</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>fd_depart01.png</string>
			<string>fd_depart02.png</string>
		</array>
	</dict>
</dict>
</plist>
