<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>170</integer>
	<key>angleVariance</key>
	<integer>0</integer>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<integer>1</integer>
	<key>finishColorGreen</key>
	<real>0.16</real>
	<key>finishColorRed</key>
	<integer>0</integer>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<integer>0</integer>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<integer>0</integer>
	<key>gravityy</key>
	<integer>0</integer>
	<key>maxParticles</key>
	<integer>407</integer>
	<key>maxRadius</key>
	<integer>100</integer>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<integer>0</integer>
	<key>particleLifespanVariance</key>
	<real>1.908</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<integer>0</integer>
	<key>rotatePerSecondVariance</key>
	<integer>0</integer>
	<key>sourcePositionVariancex</key>
	<integer>7</integer>
	<key>sourcePositionVariancey</key>
	<integer>7</integer>
	<key>sourcePositionx</key>
	<integer>248</integer>
	<key>sourcePositiony</key>
	<integer>240</integer>
	<key>speed</key>
	<integer>178</integer>
	<key>speedVariance</key>
	<integer>30</integer>
	<key>startColorAlpha</key>
	<integer>1</integer>
	<key>startColorBlue</key>
	<integer>0</integer>
	<key>startColorGreen</key>
	<real>0.09</real>
	<key>startColorRed</key>
	<real>0.31</real>
	<key>startColorVarianceAlpha</key>
	<integer>0</integer>
	<key>startColorVarianceBlue</key>
	<integer>0</integer>
	<key>startColorVarianceGreen</key>
	<integer>0</integer>
	<key>startColorVarianceRed</key>
	<integer>0</integer>
	<key>startParticleSize</key>
	<integer>35</integer>
	<key>startParticleSizeVariance</key>
	<integer>4</integer>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>defaultEmitter.png</string>
</dict>
</plist>
