<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>click</key>
	<string>buttonclick.mp3</string>
	<key>killhim</key>
	<string>killhim.mp3</string>
	<key>chant</key>
	<string>chant.mp3</string>
	<key>fairie</key>
	<string>fairie.mp3</string>
	<key>shout01</key>
	<string>shout01.mp3</string>
	<key>shout02</key>
	<string>shout02.mp3</string>
	<key>shout03</key>
	<string>shout03.mp3</string>
	<key>shout04</key>
	<string>shout04.mp3</string>
	<key>shout05</key>
	<string>shout05.mp3</string>
	<key>wraith01</key>
	<string>wraith01.mp3</string>
	<key>wraith02</key>
	<string>wraith02.mp3</string>
	<key>wraith03</key>
	<string>wraith03.mp3</string>
	<key>InitialArrows</key>
	<integer>60</integer>
	<key>InitialMana</key>
	<integer>200</integer>
	<key>existingEnemies</key>
	<array>
		<dict>
			<key>type</key>
			<string>peasant</string>
			<key>class</key>
			<string>Peasant</string>
			<key>initSprite</key>
			<string>p_walk01.png</string>
			<key>chance</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>skeleton</string>
			<key>class</key>
			<string>Skeleton</string>
			<key>initSprite</key>
			<string>sk_walk_01.png</string>
			<key>chance</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>zealot</string>
			<key>class</key>
			<string>Zealot</string>
			<key>initSprite</key>
			<string>z_walk01.png</string>
			<key>chance</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>wraith</string>
			<key>class</key>
			<string>Wraith</string>
			<key>initSprite</key>
			<string>w_fly_01.png</string>
			<key>chance</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>fireelemental</string>
			<key>class</key>
			<string>FireElemental</string>
			<key>initSprite</key>
			<string>f_walk_01.png</string>
			<key>chance</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>ent</string>
			<key>class</key>
			<string>Ent</string>
			<key>initSprite</key>
			<string>e_walk_01.png</string>
			<key>chance</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>faerie</string>
			<key>class</key>
			<string>FaerieDragon</string>
			<key>initSprite</key>
			<string>fd_fly01.png</string>
			<key>chance</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>blackdragon</string>
			<key>class</key>
			<string>BlackDragon</string>
			<key>initSprite</key>
			<string>bd_fly_01.png</string>
			<key>chance</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>MainMenuMusic</key>
	<string>MainMenu.mp3</string>
	<key>IngameMusic</key>
	<string>Battle1.mp3</string>
	<key>HitSound</key>
	<string>hit.mp3</string>
	<key>ShootArrowSound</key>
	<string>Swoosh.caf</string>
	<key>Achievement</key>
	<string>achievement.mp3</string>
</dict>
</plist>
