<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fd_land</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>Land01.png</string>
			<string>Land02.png</string>
			<string>Land03.png</string>
			<string>Land04.png</string>
			<string>Land05.png</string>
			<string>Land06.png</string>
			<string>Land07.png</string>
		</array>
	</dict>
	<key>fd_fly</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>Fly01.png</string>
			<string>Fly02.png</string>
		</array>
	</dict>
	<key>fd_depart</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>Depart01.png</string>
			<string>Depart02.png</string>
		</array>
	</dict>
</dict>
</plist>
