<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Depart01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 23}, {86, 109}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{86, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {86, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Depart02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 14}, {112, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, 4}</string>
			<key>spriteSize</key>
			<string>{112, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 0}, {112, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 17}, {122, 95}}</string>
			<key>spriteOffset</key>
			<string>{-3, 8}</string>
			<key>spriteSize</key>
			<string>{122, 95}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {122, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 19}, {114, 93}}</string>
			<key>spriteOffset</key>
			<string>{-1, 7}</string>
			<key>spriteSize</key>
			<string>{114, 93}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 0}, {114, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {110, 109}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{110, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 0}, {110, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 16}, {118, 109}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{118, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 0}, {118, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {118, 101}}</string>
			<key>spriteOffset</key>
			<string>{-7, 5}</string>
			<key>spriteSize</key>
			<string>{118, 101}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 0}, {118, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 20}, {120, 97}}</string>
			<key>spriteOffset</key>
			<string>{-9, 4}</string>
			<key>spriteSize</key>
			<string>{120, 97}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{794, 0}, {120, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {112, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{112, 105}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 111}, {112, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 15}, {86, 123}}</string>
			<key>spriteOffset</key>
			<string>{16, -4}</string>
			<key>spriteSize</key>
			<string>{86, 123}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 111}, {86, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Land07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 17}, {84, 117}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{84, 117}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 111}, {84, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Player.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 90}</string>
			<key>spriteSourceSize</key>
			<string>{57, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 111}, {57, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Still01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 20}, {82, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{82, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 111}, {82, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Still02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 20}, {82, 111}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{82, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{431, 111}, {82, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Still03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 21}, {84, 111}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{84, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{515, 111}, {84, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Still04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 21}, {84, 111}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{84, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{601, 111}, {84, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 19}, {65, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{65, 78}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{687, 111}, {65, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 19}, {69, 78}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{69, 78}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 111}, {69, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 23}, {69, 74}}</string>
			<key>spriteOffset</key>
			<string>{-14, -5}</string>
			<key>spriteSize</key>
			<string>{69, 74}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{825, 111}, {69, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 23}, {75, 74}}</string>
			<key>spriteOffset</key>
			<string>{7, -5}</string>
			<key>spriteSize</key>
			<string>{75, 74}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 111}, {75, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 25}, {83, 72}}</string>
			<key>spriteOffset</key>
			<string>{9, -6}</string>
			<key>spriteSize</key>
			<string>{83, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 236}, {83, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 27}, {77, 70}}</string>
			<key>spriteOffset</key>
			<string>{7, -7}</string>
			<key>spriteSize</key>
			<string>{77, 70}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 236}, {77, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 25}, {71, 72}}</string>
			<key>spriteOffset</key>
			<string>{10, -6}</string>
			<key>spriteSize</key>
			<string>{71, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 236}, {71, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 22}, {59, 76}}</string>
			<key>spriteOffset</key>
			<string>{11, -5}</string>
			<key>spriteSize</key>
			<string>{59, 76}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 236}, {59, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{53, 62}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 236}, {53, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 26}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{5, -4}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 236}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 25}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 236}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 22}, {45, 58}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{45, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{467, 236}, {45, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 30}, {47, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{47, 52}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 236}, {47, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 54}, {35, 28}}</string>
			<key>spriteOffset</key>
			<string>{4, -18}</string>
			<key>spriteSize</key>
			<string>{35, 28}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{563, 236}, {35, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {38, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{38, 90}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 236}, {38, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {38, 76}}</string>
			<key>spriteOffset</key>
			<string>{-12, -5}</string>
			<key>spriteSize</key>
			<string>{38, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 236}, {38, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {30, 70}}</string>
			<key>spriteOffset</key>
			<string>{-9, -7}</string>
			<key>spriteSize</key>
			<string>{30, 70}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 236}, {30, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 22}, {32, 76}}</string>
			<key>spriteOffset</key>
			<string>{-4, -5}</string>
			<key>spriteSize</key>
			<string>{32, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{712, 236}, {32, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 18}, {38, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{38, 80}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{746, 236}, {38, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hit06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 15}, {38, 82}}</string>
			<key>spriteOffset</key>
			<string>{8, -1}</string>
			<key>spriteSize</key>
			<string>{38, 82}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 236}, {38, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 12}, {47, 84}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{47, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{826, 236}, {47, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 14}, {41, 84}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{41, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{875, 236}, {41, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{-8, -3}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 236}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {53, 80}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{53, 80}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{967, 236}, {53, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 16}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{-8, -2}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 328}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 12}, {43, 86}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{43, 86}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 328}, {43, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 11}, {47, 86}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{47, 86}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 328}, {47, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>walk08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 11}, {49, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{49, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 328}, {49, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>lvl1spritesheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>lvl1spritesheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>