<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Projectile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 4}</string>
			<key>spriteSourceSize</key>
			<string>{30, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 307}, {30, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 2}, {90, 116}}</string>
			<key>spriteOffset</key>
			<string>{24, -1}</string>
			<key>spriteSize</key>
			<string>{90, 116}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 0}, {90, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 1}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{29, -0}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 0}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 6}, {122, 112}}</string>
			<key>spriteOffset</key>
			<string>{19, -3}</string>
			<key>spriteSize</key>
			<string>{122, 112}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 0}, {122, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {164, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{164, 96}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {164, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 27}, {162, 90}}</string>
			<key>spriteOffset</key>
			<string>{-2, -13}</string>
			<key>spriteSize</key>
			<string>{162, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 98}, {162, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 23}, {158, 94}}</string>
			<key>spriteOffset</key>
			<string>{-6, -11}</string>
			<key>spriteSize</key>
			<string>{158, 94}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 118}, {158, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {132, 106}}</string>
			<key>spriteOffset</key>
			<string>{-4, -6}</string>
			<key>spriteSize</key>
			<string>{132, 106}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {132, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_depart01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 23}, {86, 109}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{86, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 517}, {86, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_depart02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {112, 109}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{112, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 313}, {112, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_fly01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 17}, {122, 95}}</string>
			<key>spriteOffset</key>
			<string>{4, 8}</string>
			<key>spriteSize</key>
			<string>{122, 95}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 214}, {122, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_fly02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 19}, {114, 93}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{114, 93}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 422}, {114, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 16}, {110, 109}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{110, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 307}, {110, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 16}, {118, 109}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{118, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 311}, {118, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 17}, {118, 101}}</string>
			<key>spriteOffset</key>
			<string>{8, 5}</string>
			<key>spriteSize</key>
			<string>{118, 101}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 397}, {118, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 20}, {120, 97}}</string>
			<key>spriteOffset</key>
			<string>{10, 4}</string>
			<key>spriteSize</key>
			<string>{120, 97}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 298}, {120, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {112, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{112, 105}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 500}, {112, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 15}, {86, 123}}</string>
			<key>spriteOffset</key>
			<string>{-15, -4}</string>
			<key>spriteSize</key>
			<string>{86, 123}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 118}, {86, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 17}, {84, 117}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{84, 117}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 114}, {84, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 20}, {82, 111}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{82, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 607}, {82, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 20}, {82, 111}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{82, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 517}, {82, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 21}, {84, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{84, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 418}, {84, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 21}, {84, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{84, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 0}, {84, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 19}, {65, 78}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{65, 78}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 800}, {65, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 19}, {69, 78}}</string>
			<key>spriteOffset</key>
			<string>{15, -3}</string>
			<key>spriteSize</key>
			<string>{69, 78}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 720}, {69, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 23}, {69, 74}}</string>
			<key>spriteOffset</key>
			<string>{15, -5}</string>
			<key>spriteSize</key>
			<string>{69, 74}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 720}, {69, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 23}, {75, 74}}</string>
			<key>spriteOffset</key>
			<string>{-7, -5}</string>
			<key>spriteSize</key>
			<string>{75, 74}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 630}, {75, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {83, 72}}</string>
			<key>spriteOffset</key>
			<string>{-9, -6}</string>
			<key>spriteSize</key>
			<string>{83, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 233}, {83, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 27}, {77, 70}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{77, 70}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 630}, {77, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {71, 72}}</string>
			<key>spriteOffset</key>
			<string>{-10, -6}</string>
			<key>spriteSize</key>
			<string>{71, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 702}, {71, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 22}, {59, 76}}</string>
			<key>spriteOffset</key>
			<string>{-11, -5}</string>
			<key>spriteSize</key>
			<string>{59, 76}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 880}, {59, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 18}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{53, 62}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 243}, {53, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 26}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 767}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 709}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 22}, {45, 58}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{45, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 243}, {45, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 30}, {47, 52}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{47, 52}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 958}, {47, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 54}, {35, 28}}</string>
			<key>spriteOffset</key>
			<string>{-4, -18}</string>
			<key>spriteSize</key>
			<string>{35, 28}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 612}, {35, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {38, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{38, 90}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 424}, {38, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {38, 76}}</string>
			<key>spriteOffset</key>
			<string>{-12, -5}</string>
			<key>spriteSize</key>
			<string>{38, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{601, 567}, {38, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {30, 70}}</string>
			<key>spriteOffset</key>
			<string>{-9, -7}</string>
			<key>spriteSize</key>
			<string>{30, 70}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 706}, {30, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 22}, {32, 76}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{32, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 628}, {32, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 18}, {38, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{38, 80}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 0}, {38, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {38, 82}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{38, 82}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 321}, {38, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 12}, {47, 84}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{47, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 706}, {47, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 14}, {41, 84}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{41, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 412}, {41, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{-8, -3}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 776}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {53, 80}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{53, 80}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 649}, {53, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 16}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{-8, -2}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 825}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 12}, {43, 86}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{43, 86}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{461, 610}, {43, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 11}, {47, 86}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{47, 86}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{509, 608}, {47, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 11}, {49, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{49, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 220}, {49, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 23}, {41, 89}}</string>
			<key>spriteOffset</key>
			<string>{11, -11}</string>
			<key>spriteSize</key>
			<string>{41, 89}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{533, 321}, {41, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 22}, {39, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -10}</string>
			<key>spriteSize</key>
			<string>{39, 89}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{509, 517}, {39, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 14}, {49, 97}}</string>
			<key>spriteOffset</key>
			<string>{13, -6}</string>
			<key>spriteSize</key>
			<string>{49, 97}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 214}, {49, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 4}, {43, 107}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{43, 107}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 418}, {43, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {63, 105}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{63, 105}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 307}, {63, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_05_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {61, 101}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{61, 101}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{487, 414}, {61, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_05_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {63, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 105}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 113}, {63, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {65, 93}}</string>
			<key>spriteOffset</key>
			<string>{-7, -8}</string>
			<key>spriteSize</key>
			<string>{65, 93}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 99}, {65, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_06_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 30}, {65, 81}}</string>
			<key>spriteOffset</key>
			<string>{-7, -14}</string>
			<key>spriteSize</key>
			<string>{65, 81}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 527}, {65, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_06_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {67, 101}}</string>
			<key>spriteOffset</key>
			<string>{-6, -4}</string>
			<key>spriteSize</key>
			<string>{67, 101}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 517}, {67, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {65, 97}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{65, 97}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 0}, {65, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_07_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 20}, {65, 91}}</string>
			<key>spriteOffset</key>
			<string>{-7, -9}</string>
			<key>spriteSize</key>
			<string>{65, 91}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 424}, {65, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_07_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {67, 99}}</string>
			<key>spriteOffset</key>
			<string>{-6, -5}</string>
			<key>spriteSize</key>
			<string>{67, 99}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 220}, {67, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 31}, {59, 79}}</string>
			<key>spriteOffset</key>
			<string>{8, -14}</string>
			<key>spriteSize</key>
			<string>{59, 79}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{67, 800}, {59, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 2}, {47, 79}}</string>
			<key>spriteOffset</key>
			<string>{20, -0}</string>
			<key>spriteSize</key>
			<string>{47, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 649}, {47, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 2}, {47, 79}}</string>
			<key>spriteOffset</key>
			<string>{17, -0}</string>
			<key>spriteSize</key>
			<string>{47, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 82}, {47, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {77, 79}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{77, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{355, 531}, {77, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {81, 79}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 628}, {81, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 1}, {47, 81}}</string>
			<key>spriteOffset</key>
			<string>{18, -0}</string>
			<key>spriteSize</key>
			<string>{47, 81}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{61, 881}, {47, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 1}, {39, 81}}</string>
			<key>spriteOffset</key>
			<string>{22, -0}</string>
			<key>spriteSize</key>
			<string>{39, 81}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 498}, {39, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_blast01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 35}</string>
			<key>spriteSourceSize</key>
			<string>{58, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 612}, {58, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {39, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{39, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{673, 0}, {39, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {39, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 80}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 405}, {39, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {37, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 323}, {37, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {35, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{35, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 487}, {35, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {37, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 243}, {37, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {39, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{39, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 163}, {39, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {41, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{41, 80}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 581}, {41, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>lvl1spritesheet.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>lvl1spritesheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>lvl1spritesheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>