<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Projectile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 4}</string>
			<key>spriteSourceSize</key>
			<string>{30, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 130}, {30, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 2}, {90, 116}}</string>
			<key>spriteOffset</key>
			<string>{24, -1}</string>
			<key>spriteSize</key>
			<string>{90, 116}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 554}, {90, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 1}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{29, -0}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{553, 124}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 6}, {122, 112}}</string>
			<key>spriteOffset</key>
			<string>{19, -3}</string>
			<key>spriteSize</key>
			<string>{122, 112}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 95}, {122, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {164, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{164, 96}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 138}, {164, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 27}, {162, 90}}</string>
			<key>spriteOffset</key>
			<string>{-2, -13}</string>
			<key>spriteSize</key>
			<string>{162, 90}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 96}, {162, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 23}, {158, 94}}</string>
			<key>spriteOffset</key>
			<string>{-6, -11}</string>
			<key>spriteSize</key>
			<string>{158, 94}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 0}, {158, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_attack07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {132, 106}}</string>
			<key>spriteOffset</key>
			<string>{-4, -6}</string>
			<key>spriteSize</key>
			<string>{132, 106}</string>
			<key>spriteSourceSize</key>
			<string>{170, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 236}, {132, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_depart01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 23}, {86, 109}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{86, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 222}, {86, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_depart02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {112, 109}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{112, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 111}, {112, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_dies01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {102, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{102, 120}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 0}, {102, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_dies02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 3}, {108, 126}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{108, 126}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 188}, {108, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_dies03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {122, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{122, 136}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {122, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_dies04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {108, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 122}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 0}, {108, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_dies05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 15}, {96, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{96, 114}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 316}, {96, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_dies06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 98}, {88, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -46}</string>
			<key>spriteSize</key>
			<string>{88, 32}</string>
			<key>spriteSourceSize</key>
			<string>{136, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 96}, {88, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_fly01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 17}, {122, 95}}</string>
			<key>spriteOffset</key>
			<string>{4, 8}</string>
			<key>spriteSize</key>
			<string>{122, 95}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{888, 99}, {122, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_fly02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 19}, {114, 93}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{114, 93}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 0}, {114, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 16}, {110, 109}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{110, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 209}, {110, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 16}, {118, 109}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{118, 109}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 0}, {118, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 17}, {118, 101}}</string>
			<key>spriteOffset</key>
			<string>{8, 5}</string>
			<key>spriteSize</key>
			<string>{118, 101}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {118, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 20}, {120, 97}}</string>
			<key>spriteOffset</key>
			<string>{10, 4}</string>
			<key>spriteSize</key>
			<string>{120, 97}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{888, 0}, {120, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {112, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{112, 105}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 447}, {112, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 15}, {86, 123}}</string>
			<key>spriteOffset</key>
			<string>{-15, -4}</string>
			<key>spriteSize</key>
			<string>{86, 123}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 430}, {86, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_land07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 17}, {84, 117}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{84, 117}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 122}, {84, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 20}, {82, 111}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{82, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 196}, {82, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 20}, {82, 111}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{82, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 432}, {82, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 21}, {84, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{84, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 320}, {84, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fd_still04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 21}, {84, 111}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{84, 111}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{551, 242}, {84, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 19}, {65, 78}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{65, 78}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 423}, {65, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 19}, {69, 78}}</string>
			<key>spriteOffset</key>
			<string>{15, -3}</string>
			<key>spriteSize</key>
			<string>{69, 78}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 404}, {69, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 23}, {69, 74}}</string>
			<key>spriteOffset</key>
			<string>{15, -5}</string>
			<key>spriteSize</key>
			<string>{69, 74}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 484}, {69, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 23}, {75, 74}}</string>
			<key>spriteOffset</key>
			<string>{-7, -5}</string>
			<key>spriteSize</key>
			<string>{75, 74}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{845, 309}, {75, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {83, 72}}</string>
			<key>spriteOffset</key>
			<string>{-9, -6}</string>
			<key>spriteSize</key>
			<string>{83, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 433}, {83, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 27}, {77, 70}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{77, 70}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{845, 385}, {77, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 25}, {71, 72}}</string>
			<key>spriteOffset</key>
			<string>{-10, -6}</string>
			<key>spriteSize</key>
			<string>{71, 72}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{845, 457}, {71, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_attack08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 22}, {59, 76}}</string>
			<key>spriteOffset</key>
			<string>{-11, -5}</string>
			<key>spriteSize</key>
			<string>{59, 76}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 560}, {59, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 18}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{53, 62}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 436}, {53, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 26}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{-5, -4}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{631, 436}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {55, 56}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{55, 56}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{631, 494}, {55, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 22}, {45, 58}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{45, 58}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{769, 584}, {45, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 30}, {47, 52}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{47, 52}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 552}, {47, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_dead06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 54}, {35, 28}}</string>
			<key>spriteOffset</key>
			<string>{-4, -18}</string>
			<key>spriteSize</key>
			<string>{35, 28}</string>
			<key>spriteSourceSize</key>
			<string>{85, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{989, 484}, {35, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {38, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{38, 90}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 729}, {38, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {38, 76}}</string>
			<key>spriteOffset</key>
			<string>{-12, -5}</string>
			<key>spriteSize</key>
			<string>{38, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 500}, {38, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 27}, {30, 70}}</string>
			<key>spriteOffset</key>
			<string>{-9, -7}</string>
			<key>spriteSize</key>
			<string>{30, 70}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 236}, {30, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 22}, {32, 76}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{32, 76}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 413}, {32, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 18}, {38, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{38, 80}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{729, 564}, {38, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_hit06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {38, 82}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{38, 82}</string>
			<key>spriteSourceSize</key>
			<string>{62, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 815}, {38, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 12}, {47, 84}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{47, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 287}, {47, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 14}, {41, 84}}</string>
			<key>spriteOffset</key>
			<string>{-7, -1}</string>
			<key>spriteSize</key>
			<string>{41, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 729}, {41, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{-8, -3}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 553}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {53, 80}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{53, 80}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 467}, {53, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 16}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{-8, -2}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 507}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 12}, {43, 86}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{43, 86}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 239}, {43, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 11}, {47, 86}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{47, 86}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 177}, {47, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p_walk08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 11}, {49, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{49, 84}</string>
			<key>spriteSourceSize</key>
			<string>{101, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 91}, {49, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 23}, {41, 89}}</string>
			<key>spriteOffset</key>
			<string>{11, -11}</string>
			<key>spriteSize</key>
			<string>{41, 89}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{734, 473}, {41, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 22}, {39, 89}}</string>
			<key>spriteOffset</key>
			<string>{9, -10}</string>
			<key>spriteSize</key>
			<string>{39, 89}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{737, 382}, {39, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 14}, {49, 97}}</string>
			<key>spriteOffset</key>
			<string>{13, -6}</string>
			<key>spriteSize</key>
			<string>{49, 97}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 188}, {49, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 4}, {43, 107}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{43, 107}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 130}, {43, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {63, 105}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{63, 105}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 297}, {63, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_05_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {61, 101}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{61, 101}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{637, 333}, {61, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_05_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {63, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 105}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 265}, {63, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {65, 93}}</string>
			<key>spriteOffset</key>
			<string>{-7, -8}</string>
			<key>spriteSize</key>
			<string>{65, 93}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 372}, {65, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_06_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 30}, {65, 81}}</string>
			<key>spriteOffset</key>
			<string>{-7, -14}</string>
			<key>spriteSize</key>
			<string>{65, 81}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 340}, {65, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_06_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {67, 101}}</string>
			<key>spriteOffset</key>
			<string>{-6, -4}</string>
			<key>spriteSize</key>
			<string>{67, 101}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 327}, {67, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 15}, {65, 97}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{65, 97}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{778, 241}, {65, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_07_down.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 20}, {65, 91}}</string>
			<key>spriteOffset</key>
			<string>{-7, -9}</string>
			<key>spriteSize</key>
			<string>{65, 91}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 460}, {65, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_07_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {67, 99}}</string>
			<key>spriteOffset</key>
			<string>{-6, -5}</string>
			<key>spriteSize</key>
			<string>{67, 99}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 196}, {67, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 31}, {59, 79}}</string>
			<key>spriteOffset</key>
			<string>{8, -14}</string>
			<key>spriteSize</key>
			<string>{59, 79}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 503}, {59, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle1_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 28}, {41, 85}}</string>
			<key>spriteOffset</key>
			<string>{10, -14}</string>
			<key>spriteSize</key>
			<string>{41, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 672}, {41, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle1_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 28}, {41, 85}}</string>
			<key>spriteOffset</key>
			<string>{9, -14}</string>
			<key>spriteSize</key>
			<string>{41, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 672}, {41, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle1_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 28}, {43, 85}}</string>
			<key>spriteOffset</key>
			<string>{10, -14}</string>
			<key>spriteSize</key>
			<string>{43, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 642}, {43, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle1_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 28}, {41, 85}}</string>
			<key>spriteOffset</key>
			<string>{9, -14}</string>
			<key>spriteSize</key>
			<string>{41, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 507}, {41, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle1_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 28}, {43, 85}}</string>
			<key>spriteOffset</key>
			<string>{9, -14}</string>
			<key>spriteSize</key>
			<string>{43, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 642}, {43, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle2_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 28}, {45, 85}}</string>
			<key>spriteOffset</key>
			<string>{11, -14}</string>
			<key>spriteSize</key>
			<string>{45, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 555}, {45, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle2_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 26}, {51, 87}}</string>
			<key>spriteOffset</key>
			<string>{12, -13}</string>
			<key>spriteSize</key>
			<string>{51, 87}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 560}, {51, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle2_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 28}, {55, 85}}</string>
			<key>spriteOffset</key>
			<string>{13, -14}</string>
			<key>spriteSize</key>
			<string>{55, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 373}, {55, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>y_lvl3_idle2_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 28}, {51, 85}}</string>
			<key>spriteOffset</key>
			<string>{11, -14}</string>
			<key>spriteSize</key>
			<string>{51, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{523, 436}, {51, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 2}, {47, 79}}</string>
			<key>spriteOffset</key>
			<string>{20, -0}</string>
			<key>spriteSize</key>
			<string>{47, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 637}, {47, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 2}, {47, 79}}</string>
			<key>spriteOffset</key>
			<string>{17, -0}</string>
			<key>spriteSize</key>
			<string>{47, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 591}, {47, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {77, 79}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{77, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 355}, {77, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {81, 79}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{81, 79}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 0}, {81, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 1}, {47, 81}}</string>
			<key>spriteOffset</key>
			<string>{18, -0}</string>
			<key>spriteSize</key>
			<string>{47, 81}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 624}, {47, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 1}, {39, 81}}</string>
			<key>spriteOffset</key>
			<string>{22, -0}</string>
			<key>spriteSize</key>
			<string>{39, 81}</string>
			<key>spriteSourceSize</key>
			<string>{87, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 759}, {39, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_blast01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 35}</string>
			<key>spriteSourceSize</key>
			<string>{58, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{665, 571}, {58, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_dies01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 20}, {75, 77}}</string>
			<key>spriteOffset</key>
			<string>{7, -2}</string>
			<key>spriteSize</key>
			<string>{75, 77}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 545}, {75, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_dies02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {69, 89}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{69, 89}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{483, 0}, {69, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_dies03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {67, 85}}</string>
			<key>spriteOffset</key>
			<string>{-8, -5}</string>
			<key>spriteSize</key>
			<string>{67, 85}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 555}, {67, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_dies04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 37}, {71, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -14}</string>
			<key>spriteSize</key>
			<string>{71, 67}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{838, 531}, {71, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_dies05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 55}, {63, 57}}</string>
			<key>spriteOffset</key>
			<string>{7, -27}</string>
			<key>spriteSize</key>
			<string>{63, 57}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 707}, {63, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_dies06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 69}, {45, 29}}</string>
			<key>spriteOffset</key>
			<string>{3, -27}</string>
			<key>spriteSize</key>
			<string>{45, 29}</string>
			<key>spriteSourceSize</key>
			<string>{113, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 523}, {45, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {39, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{39, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 491}, {39, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {39, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 80}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 841}, {39, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {37, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{739, 222}, {37, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {35, 78}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{35, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 333}, {35, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {37, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{739, 302}, {37, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {39, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{39, 78}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 842}, {39, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>z_walk07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {41, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{41, 80}</string>
			<key>spriteSourceSize</key>
			<string>{57, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 759}, {41, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>lvl1spritesheet.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>lvl1spritesheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>lvl1spritesheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>