<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sk_taunt</key>
	<dict>
		<key>delay</key>
		<real>0.15</real>
		<key>frames</key>
		<array>
			<string>sk_taunt_01.png</string>
			<string>sk_taunt_02.png</string>
			<string>sk_taunt_03.png</string>
			<string>sk_taunt_04.png</string>
			<string>sk_taunt_03.png</string>
			<string>sk_taunt_02.png</string>
		</array>
	</dict>
	<key>sk_attack</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>sk_attack_01.png</string>
			<string>sk_attack_02.png</string>
			<string>sk_attack_03.png</string>
			<string>sk_attack_04.png</string>
			<string>sk_attack_05.png</string>
			<string>sk_attack_06.png</string>
			<string>sk_attack_07.png</string>
			<string>sk_attack_08.png</string>
		</array>
	</dict>
	<key>sk_dies</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>sk_die_01.png</string>
			<string>sk_die_02.png</string>
			<string>sk_die_03.png</string>
			<string>sk_die_04.png</string>
			<string>sk_die_05.png</string>
			<string>sk_die_06.png</string>
		</array>
	</dict>
	<key>sk_walk</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>sk_walk_01.png</string>
			<string>sk_walk_02.png</string>
			<string>sk_walk_03.png</string>
			<string>sk_walk_04.png</string>
			<string>sk_walk_05.png</string>
			<string>sk_walk_06.png</string>
			<string>sk_walk_07.png</string>
			<string>sk_walk_08.png</string>
		</array>
	</dict>
</dict>
</plist>
