<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>City - Main branch z15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{471, 424}, {440, 214}}</string>
			<key>spriteOffset</key>
			<string>{-333, 237}</string>
			<key>spriteSize</key>
			<string>{440, 214}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1233, 638}, {440, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - Symbol z34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{703, 512}, {82, 58}}</string>
			<key>spriteOffset</key>
			<string>{-280, 227}</string>
			<key>spriteSize</key>
			<string>{82, 58}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 0}, {82, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - Symbol z34_DOWN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 16}, {82, 58}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{82, 58}</string>
			<key>spriteSourceSize</key>
			<string>{106, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 0}, {82, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - Symbol z34_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {98, 68}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{98, 68}</string>
			<key>spriteSourceSize</key>
			<string>{106, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 0}, {98, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - branch1 - z13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{721, 190}, {274, 332}}</string>
			<key>spriteOffset</key>
			<string>{-166, 412}</string>
			<key>spriteSize</key>
			<string>{274, 332}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{613, 638}, {274, 332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - branch2 - z14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{426, 221}, {272, 248}}</string>
			<key>spriteOffset</key>
			<string>{-462, 423}</string>
			<key>spriteSize</key>
			<string>{272, 248}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1348, 354}, {272, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - branch3 z12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{668, 165}, {150, 352}}</string>
			<key>spriteOffset</key>
			<string>{-281, 427}</string>
			<key>spriteSize</key>
			<string>{150, 352}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1498, 0}, {150, 352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - el1 z5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1588, 404}, {460, 280}}</string>
			<key>spriteOffset</key>
			<string>{794, 224}</string>
			<key>spriteSize</key>
			<string>{460, 280}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 972}, {460, 280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - el2 z4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1738, 676}, {310, 304}}</string>
			<key>spriteOffset</key>
			<string>{869, -60}</string>
			<key>spriteSize</key>
			<string>{310, 304}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1675, 638}, {310, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - el3 z2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1300, 1222}, {486, 314}}</string>
			<key>spriteOffset</key>
			<string>{519, -611}</string>
			<key>spriteSize</key>
			<string>{486, 314}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1182, 972}, {486, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - Main branch z10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{416, 566}, {376, 164}}</string>
			<key>spriteOffset</key>
			<string>{-420, 120}</string>
			<key>spriteSize</key>
			<string>{376, 164}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{740, 354}, {376, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - Symbol z32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {52, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{52, 70}</string>
			<key>spriteSourceSize</key>
			<string>{74, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 0}, {52, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - branch 1 z8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{253, 579}, {214, 230}}</string>
			<key>spriteOffset</key>
			<string>{-664, 74}</string>
			<key>spriteSize</key>
			<string>{214, 230}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1022, 0}, {214, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - branch2 z9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{305, 717}, {342, 274}}</string>
			<key>spriteOffset</key>
			<string>{-548, -86}</string>
			<key>spriteSize</key>
			<string>{342, 274}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{889, 638}, {342, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - branch3 z7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{250, 352}, {228, 282}}</string>
			<key>spriteOffset</key>
			<string>{-660, 275}</string>
			<key>spriteSize</key>
			<string>{228, 282}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1118, 354}, {228, 282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - el1 z11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{485, 577}, {120, 108}}</string>
			<key>spriteOffset</key>
			<string>{-479, 137}</string>
			<key>spriteSize</key>
			<string>{120, 108}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 0}, {120, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - Main branch z19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{932, 342}, {334, 466}}</string>
			<key>spriteOffset</key>
			<string>{75, 193}</string>
			<key>spriteSize</key>
			<string>{334, 466}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1670, 972}, {334, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - Symbol z31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {62, 70}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 70}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 0}, {62, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - branch1 z17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1051, 130}, {374, 292}}</string>
			<key>spriteOffset</key>
			<string>{214, 492}</string>
			<key>spriteSize</key>
			<string>{374, 292}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 972}, {374, 292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - branch2 z18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1222, 270}, {398, 460}}</string>
			<key>spriteOffset</key>
			<string>{397, 268}</string>
			<key>spriteSize</key>
			<string>{398, 460}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 1440}, {398, 460}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - branch3 z16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{888, 278}, {342, 298}}</string>
			<key>spriteOffset</key>
			<string>{35, 341}</string>
			<key>spriteSize</key>
			<string>{342, 298}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 972}, {342, 298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - el1 z1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{686, 334}, {772, 216}}</string>
			<key>spriteOffset</key>
			<string>{48, 326}</string>
			<key>spriteSize</key>
			<string>{772, 216}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1440}, {772, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - el2 z3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1219, 744}, {472, 130}}</string>
			<key>spriteOffset</key>
			<string>{431, -41}</string>
			<key>spriteSize</key>
			<string>{472, 130}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 354}, {472, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - el3 z24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{154, 993}, {258, 200}}</string>
			<key>spriteOffset</key>
			<string>{-741, -325}</string>
			<key>spriteSize</key>
			<string>{258, 200}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1238, 0}, {258, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - Main branch z23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{953, 870}, {386, 182}}</string>
			<key>spriteOffset</key>
			<string>{122, -193}</string>
			<key>spriteSize</key>
			<string>{386, 182}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1622, 354}, {386, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - branch1 z22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1086, 678}, {294, 256}}</string>
			<key>spriteOffset</key>
			<string>{209, -38}</string>
			<key>spriteSize</key>
			<string>{294, 256}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 638}, {294, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - branch2 z20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1236, 916}, {264, 232}}</string>
			<key>spriteOffset</key>
			<string>{344, -264}</string>
			<key>spriteSize</key>
			<string>{264, 232}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 354}, {264, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - branch3 z21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1237, 773}, {302, 182}}</string>
			<key>spriteOffset</key>
			<string>{364, -96}</string>
			<key>spriteSize</key>
			<string>{302, 182}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1650, 0}, {302, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - el1 z29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{732, 685}, {122, 316}}</string>
			<key>spriteOffset</key>
			<string>{-231, -75}</string>
			<key>spriteSize</key>
			<string>{122, 316}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 0}, {122, 316}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - el2 z28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{792, 673}, {76, 38}}</string>
			<key>spriteOffset</key>
			<string>{-194, 76}</string>
			<key>spriteSize</key>
			<string>{76, 38}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {76, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - el3 z26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{617, 1105}, {198, 178}}</string>
			<key>spriteOffset</key>
			<string>{-308, -426}</string>
			<key>spriteSize</key>
			<string>{198, 178}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 0}, {198, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman Symbol - z33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {86, 68}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{86, 68}</string>
			<key>spriteSourceSize</key>
			<string>{100, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 0}, {86, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stick1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {315, 282}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{315, 282}</string>
			<key>spriteSourceSize</key>
			<string>{315, 282}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 638}, {315, 282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stick2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 315}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 315}</string>
			<key>spriteSourceSize</key>
			<string>{22, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 0}, {22, 315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>problemhd</string>
		<key>textureFileName</key>
		<string>skillTreeSS-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
