<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>City - Main branch z15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{234, 210}, {224, 112}}</string>
			<key>spriteOffset</key>
			<string>{-166, 118}</string>
			<key>spriteSize</key>
			<string>{224, 112}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 500}, {224, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - Symbol z34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{351, 256}, {42, 30}}</string>
			<key>spriteOffset</key>
			<string>{-140, 113}</string>
			<key>spriteSize</key>
			<string>{42, 30}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 0}, {42, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - Symbol z34_DOWN.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {43, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{43, 29}</string>
			<key>spriteSourceSize</key>
			<string>{53, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 0}, {43, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - Symbol z34_UP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {49, 35}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{49, 35}</string>
			<key>spriteSourceSize</key>
			<string>{53, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 0}, {49, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - branch1 - z13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{361, 93}, {138, 170}}</string>
			<key>spriteOffset</key>
			<string>{-82, 206}</string>
			<key>spriteSize</key>
			<string>{138, 170}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{513, 328}, {138, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - branch2 - z14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{211, 108}, {140, 130}}</string>
			<key>spriteOffset</key>
			<string>{-231, 211}</string>
			<key>spriteSize</key>
			<string>{140, 130}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 182}, {140, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - branch3 z12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{332, 80}, {80, 180}}</string>
			<key>spriteOffset</key>
			<string>{-140, 214}</string>
			<key>spriteSize</key>
			<string>{80, 180}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 0}, {80, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - el1 z5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{792, 200}, {232, 146}}</string>
			<key>spriteOffset</key>
			<string>{396, 111}</string>
			<key>spriteSize</key>
			<string>{232, 146}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 500}, {232, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - el2 z4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{866, 336}, {158, 156}}</string>
			<key>spriteOffset</key>
			<string>{433, -30}</string>
			<key>spriteSize</key>
			<string>{158, 156}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{653, 328}, {158, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>City - el3 z2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{650, 608}, {242, 160}}</string>
			<key>spriteOffset</key>
			<string>{259, -304}</string>
			<key>spriteSize</key>
			<string>{242, 160}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 656}, {242, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - Main branch z10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{206, 281}, {190, 86}}</string>
			<key>spriteOffset</key>
			<string>{-211, 60}</string>
			<key>spriteSize</key>
			<string>{190, 86}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 182}, {190, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - Symbol z32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {27, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{27, 36}</string>
			<key>spriteSourceSize</key>
			<string>{37, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 0}, {27, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - branch 1 z8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 287}, {112, 120}}</string>
			<key>spriteOffset</key>
			<string>{-332, 37}</string>
			<key>spriteSize</key>
			<string>{112, 120}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 0}, {112, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - branch2 z9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{150, 356}, {174, 142}}</string>
			<key>spriteOffset</key>
			<string>{-275, -43}</string>
			<key>spriteSize</key>
			<string>{174, 142}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{813, 328}, {174, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - branch3 z7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{123, 174}, {118, 144}}</string>
			<key>spriteOffset</key>
			<string>{-330, 138}</string>
			<key>spriteSize</key>
			<string>{118, 144}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{730, 182}, {118, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire - el1 z11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{241, 286}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{-239, 68}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 0}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - Main branch z19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{465, 169}, {170, 236}}</string>
			<key>spriteOffset</key>
			<string>{38, 97}</string>
			<key>spriteSize</key>
			<string>{170, 236}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 656}, {170, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - Symbol z31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {32, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 36}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 0}, {32, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - branch1 z17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{523, 63}, {192, 150}}</string>
			<key>spriteOffset</key>
			<string>{107, 246}</string>
			<key>spriteSize</key>
			<string>{192, 150}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 500}, {192, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - branch2 z18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{609, 133}, {204, 234}}</string>
			<key>spriteOffset</key>
			<string>{199, 134}</string>
			<key>spriteSize</key>
			<string>{204, 234}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 656}, {204, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - branch3 z16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{442, 137}, {176, 154}}</string>
			<key>spriteOffset</key>
			<string>{18, 170}</string>
			<key>spriteSize</key>
			<string>{176, 154}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 500}, {176, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - el1 z1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{343, 165}, {386, 112}}</string>
			<key>spriteOffset</key>
			<string>{24, 163}</string>
			<key>spriteSize</key>
			<string>{386, 112}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 656}, {386, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - el2 z3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{607, 370}, {240, 70}}</string>
			<key>spriteOffset</key>
			<string>{215, -21}</string>
			<key>spriteSize</key>
			<string>{240, 70}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 182}, {240, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ice - el3 z24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 494}, {132, 104}}</string>
			<key>spriteOffset</key>
			<string>{-369, -162}</string>
			<key>spriteSize</key>
			<string>{132, 104}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 0}, {132, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - Main branch z23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{474, 433}, {198, 96}}</string>
			<key>spriteOffset</key>
			<string>{61, -97}</string>
			<key>spriteSize</key>
			<string>{198, 96}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 328}, {198, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - branch1 z22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{541, 337}, {152, 132}}</string>
			<key>spriteOffset</key>
			<string>{105, -19}</string>
			<key>spriteSize</key>
			<string>{152, 132}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 328}, {152, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - branch2 z20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{616, 456}, {136, 120}}</string>
			<key>spriteOffset</key>
			<string>{172, -132}</string>
			<key>spriteSize</key>
			<string>{136, 120}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 182}, {136, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - branch3 z21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{616, 384}, {156, 96}}</string>
			<key>spriteOffset</key>
			<string>{182, -48}</string>
			<key>spriteSize</key>
			<string>{156, 96}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {156, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - el1 z29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{366, 341}, {64, 160}}</string>
			<key>spriteOffset</key>
			<string>{-114, -37}</string>
			<key>spriteSize</key>
			<string>{64, 160}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 0}, {64, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - el2 z28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{395, 335}, {42, 22}}</string>
			<key>spriteOffset</key>
			<string>{-96, 38}</string>
			<key>spriteSize</key>
			<string>{42, 22}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {42, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman - el3 z26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{307, 550}, {102, 94}}</string>
			<key>spriteOffset</key>
			<string>{-154, -213}</string>
			<key>spriteSize</key>
			<string>{102, 94}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 0}, {102, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Marksman Symbol - z33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {44, 33}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{44, 33}</string>
			<key>spriteSourceSize</key>
			<string>{50, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 0}, {44, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stick1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {157, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 141}</string>
			<key>spriteSourceSize</key>
			<string>{157, 141}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 328}, {157, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stick2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {11, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{11, 154}</string>
			<key>spriteSourceSize</key>
			<string>{11, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 0}, {11, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>problem</string>
		<key>textureFileName</key>
		<string>skillTreeSS.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>