<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>y_idle_1</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>y_lvl3_idle1_01.png</string>
			<string>y_lvl3_idle1_02.png</string>
			<string>y_lvl3_idle1_03.png</string>
			<string>y_lvl3_idle1_04.png</string>
			<string>y_lvl3_idle1_05.png</string>
			<string>y_lvl3_idle1_04.png</string>
			<string>y_lvl3_idle1_03.png</string>
			<string>y_lvl3_idle1_02.png</string>
		</array>
	</dict>
	<key>y_idle_2</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>y_lvl3_idle2_01.png</string>
			<string>y_lvl3_idle2_02.png</string>
			<string>y_lvl3_idle2_03.png</string>
			<string>y_lvl3_idle2_04.png</string>
			<string>y_lvl3_idle2_03.png</string>
			<string>y_lvl3_idle2_02.png</string>
		</array>
	</dict>
	<key>y_attack_up_lvl1</key>
	<dict>
		<key>delay</key>
		<real>0.08</real>
		<key>frames</key>
		<array>
			<string>y_lvl1_07_up.png</string>
			<string>y_lvl1_08.png</string>
			<string>y_lvl1_01.png</string>
			<string>y_lvl1_02.png</string>
			<string>y_lvl1_03_up.png</string>
			<string>y_lvl1_04_up.png</string>
			<string>y_lvl1_05_up.png</string>
			<string>y_lvl1_06_up.png</string>
		</array>
	</dict>
	<key>y_attack_up_lvl2</key>
	<dict>
		<key>delay</key>
		<real>0.06</real>
		<key>frames</key>
		<array>
			<string>y_lvl2_07_up.png</string>
			<string>y_lvl2_08.png</string>
			<string>y_lvl2_01.png</string>
			<string>y_lvl2_02.png</string>
			<string>y_lvl2_03_up.png</string>
			<string>y_lvl2_04_up.png</string>
			<string>y_lvl2_05_up.png</string>
			<string>y_lvl2_06_up.png</string>
		</array>
	</dict>
	<key>y_attack_up_lvl3</key>
	<dict>
		<key>delay</key>
		<real>0.04</real>
		<key>frames</key>
		<array>
			<string>y_lvl3_07_up.png</string>
			<string>y_lvl3_08.png</string>
			<string>y_lvl3_01.png</string>
			<string>y_lvl3_02.png</string>
			<string>y_lvl3_03.png</string>
			<string>y_lvl3_04.png</string>
			<string>y_lvl3_05_up.png</string>
			<string>y_lvl3_06_up.png</string>
		</array>
	</dict>
	<key>y_attack_front_lvl1</key>
	<dict>
		<key>delay</key>
		<real>0.08</real>
		<key>frames</key>
		<array>
			<string>y_lvl1_07.png</string>
			<string>y_lvl1_08.png</string>
			<string>y_lvl1_01.png</string>
			<string>y_lvl1_02.png</string>
			<string>y_lvl1_03.png</string>
			<string>y_lvl1_04.png</string>
			<string>y_lvl1_05.png</string>
			<string>y_lvl1_06.png</string>
		</array>
	</dict>
	<key>y_attack_front_lvl2</key>
	<dict>
		<key>delay</key>
		<real>0.06</real>
		<key>frames</key>
		<array>
			<string>y_lvl2_07.png</string>
			<string>y_lvl2_08.png</string>
			<string>y_lvl2_01.png</string>
			<string>y_lvl2_02.png</string>
			<string>y_lvl2_03.png</string>
			<string>y_lvl2_04.png</string>
			<string>y_lvl2_05.png</string>
			<string>y_lvl2_06.png</string>
		</array>
	</dict>
	<key>y_attack_front_lvl3</key>
	<dict>
		<key>delay</key>
		<real>0.04</real>
		<key>frames</key>
		<array>
			<string>y_lvl3_07.png</string>
			<string>y_lvl3_08.png</string>
			<string>y_lvl3_01.png</string>
			<string>y_lvl3_02.png</string>
			<string>y_lvl3_03.png</string>
			<string>y_lvl3_04.png</string>
			<string>y_lvl3_05.png</string>
			<string>y_lvl3_06.png</string>
		</array>
	</dict>
	<key>y_attack_down_lvl1</key>
	<dict>
		<key>delay</key>
		<real>0.08</real>
		<key>frames</key>
		<array>
			<string>y_lvl1_07_down.png</string>
			<string>y_lvl1_08.png</string>
			<string>y_lvl1_01.png</string>
			<string>y_lvl1_02.png</string>
			<string>y_lvl1_03_down.png</string>
			<string>y_lvl1_04_down.png</string>
			<string>y_lvl1_05_down.png</string>
			<string>y_lvl1_06_down.png</string>
		</array>
	</dict>
	<key>y_attack_down_lvl2</key>
	<dict>
		<key>delay</key>
		<real>0.06</real>
		<key>frames</key>
		<array>
			<string>y_lvl2_07_down.png</string>
			<string>y_lvl2_08.png</string>
			<string>y_lvl2_01.png</string>
			<string>y_lvl2_02.png</string>
			<string>y_lvl2_03_up.png</string>
			<string>y_lvl2_04_up.png</string>
			<string>y_lvl2_05_down.png</string>
			<string>y_lvl2_06_down.png</string>
		</array>
	</dict>
	<key>y_attack_down_lvl3</key>
	<dict>
		<key>delay</key>
		<real>0.04</real>
		<key>frames</key>
		<array>
			<string>y_lvl3_07_down.png</string>
			<string>y_lvl3_08.png</string>
			<string>y_lvl3_01.png</string>
			<string>y_lvl3_02.png</string>
			<string>y_lvl3_03.png</string>
			<string>y_lvl3_04.png</string>
			<string>y_lvl3_05_down.png</string>
			<string>y_lvl3_06_down.png</string>
		</array>
	</dict>
</dict>
</plist>
