<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>z_walk</key>
	<dict>
		<key>delay</key>
		<real>0.2</real>
		<key>frames</key>
		<array>
			<string>z_walk01.png</string>
			<string>z_walk02.png</string>
			<string>z_walk03.png</string>
			<string>z_walk04.png</string>
			<string>z_walk05.png</string>
			<string>z_walk06.png</string>
			<string>z_walk07.png</string>
		</array>
	</dict>
	<key>z_attack</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>frames</key>
		<array>
			<string>z_attack01.png</string>
			<string>z_attack02.png</string>
			<string>z_attack03.png</string>
			<string>z_attack04.png</string>
			<string>z_attack05.png</string>
			<string>z_attack06.png</string>
		</array>
	</dict>
</dict>
</plist>
