<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>verticalCenter</key>
	<integer>440</integer>
	<key>enemies</key>
	<array>
		<dict>
			<key>type</key>
			<string>faerie</string>
			<key>xdisp</key>
			<integer>0</integer>
			<key>ydisp</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>faerie</string>
			<key>xdisp</key>
			<integer>0</integer>
			<key>ydisp</key>
			<real>-0.8</real>
		</dict>
		<dict>
			<key>type</key>
			<string>faerie</string>
			<key>xdisp</key>
			<integer>0</integer>
			<key>ydisp</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>type</key>
			<string>faerie</string>
			<key>xdisp</key>
			<integer>0</integer>
			<key>ydisp</key>
			<real>-1.6</real>
		</dict>
		<dict>
			<key>type</key>
			<string>faerie</string>
			<key>xdisp</key>
			<integer>0</integer>
			<key>ydisp</key>
			<real>1.6</real>
		</dict>
	</array>
</dict>
</plist>
