<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemies</key>
	<array>
		<dict>
			<key>type</key>
			<string>fireelemental</string>
			<key>xdisp</key>
			<real>1.5</real>
			<key>ydisp</key>
			<real>-1.5</real>
		</dict>
		<dict>
			<key>type</key>
			<string>fireelemental</string>
			<key>xdisp</key>
			<real>1.5</real>
			<key>ydisp</key>
			<real>1.5</real>
		</dict>
	</array>
	<key>verticalCenter</key>
	<integer>380</integer>
</dict>
</plist>
