<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tauntEnemyType</key>
	<string>zealot</string>
	<key>background</key>
	<string>winter</string>
	<key>timeBetweenWaves</key>
	<integer>5</integer>
	<key>waves</key>
	<array>
		<string>SkeletonArmy</string>
		<string>PeasantSpear</string>
		<string>SkeletonArmy</string>
		<string>PeasantSpear</string>
		<string>BlackDragonDown</string>
	</array>
</dict>
</plist>
