<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeBetweenWaves</key>
	<real>3.5</real>
	<key>waves</key>
	<array>
		<string>FireElementals</string>
		<string>WraithHex</string>
		<string>SkeletonArmy</string>
		<string>EntScatter</string>
		<string>ZealotSquare</string>
		<string>FaerieColumn</string>
		<string>FireElementals</string>
		<string>PeasantSpear</string>
		<string>WraithHex</string>
		<string>FaerieColumn</string>
	</array>
</dict>
</plist>
