<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemies</key>
	<array>
		<dict>
			<key>type</key>
			<string>skeleton</string>
			<key>xdisp</key>
			<integer>2</integer>
			<key>ydisp</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>skeleton</string>
			<key>xdisp</key>
			<integer>2</integer>
			<key>ydisp</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>skeleton</string>
			<key>xdisp</key>
			<integer>2</integer>
			<key>ydisp</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>verticalCenter</key>
	<integer>200</integer>
</dict>
</plist>
